.uasubmit {
width:  30px;  
height: 30px; 
margin: 0;
padding:0;
border: 0;
background: transparent url('/site/img/ua.png') no-repeat center top;
text-indent: -1000em;
cursor: pointer;
cursor: hand;
}
.rusubmit {
width:  30px; 
height: 30px; 
margin: 0;
padding:0;
border: 0;
background: transparent url('/site/img/ru.png') no-repeat center top;
text-indent: -1000em;
cursor: pointer;
cursor: hand;
}
.ensubmit {
width:  30px; 
height: 30px; 
margin: 0;
padding:0;
border: 0;
background: transparent url('/site/img/en.png') no-repeat center top;
text-indent: -1000em;
cursor: pointer;
cursor: hand;
}